In [7]:
ls =[1,3,4,5,6,]
try:
    print(ls[len(ls)])
except Exception as a :
    print(a)

list index out of range

In [12]:
numbers=[1,2,3,4,5,6,7]
print(list(n for n in numbers if n %2 !=0))

[1, 3, 5, 7]

In [18]:
def even_or_odd(n):
    print("even")if n%2==0 else print("odd")
even_or_odd(int(input("enter a number")))

enter a number12
even

In [27]:
numbers =[5,3,8,-1,-2.2,0]
for n in numbers:
    for num in numbers:
        if num < n:
            min = num 
print(min)

-2.2

In [39]:
name ="khalid ali aleraky"
for c in name:
    print(chr(ord(c)+1),end="")

libmje!bmj!bmfsblz

In [44]:
name = input("enter your name:")
for c in name:
    print(c , end=" ")
print ("\n your name length is: ",len(name))

enter your name:ok
o k
 your name length is:  2

In [46]:
password = input("enter your password: ")
while password != "eslam":
    password = input("please enter the correct password: ")
else: 
    print("welcome")

enter your password: hi
please enter the correct password: wlee
please enter the correct password: mm
please enter the correct password: fasjfkja
please enter the correct password: adgafs
please enter the correct password: dasf
please enter the correct password: asfasf
please enter the correct password: as
please enter the correct password: f
please enter the correct password: asdfas
please enter the correct password: f
please enter the correct password:
please enter the correct password:
please enter the correct password: fasf
please enter the correct password: asf
please enter the correct password: asfa
please enter the correct password: sf
please enter the correct password:
please enter the correct password: eslam
welcome

In [53]:
for n in range(1,13):
    print("It\'s table for:",n,"number")
    for i in range(1,13):
        print("\t",n,"*",i,"= ",n*i)

It's table for: 1 number
	 1 * 1 =  1
	 1 * 2 =  2
	 1 * 3 =  3
	 1 * 4 =  4
	 1 * 5 =  5
	 1 * 6 =  6
	 1 * 7 =  7
	 1 * 8 =  8
	 1 * 9 =  9
	 1 * 10 =  10
	 1 * 11 =  11
	 1 * 12 =  12
It's table for: 2 number
	 2 * 1 =  2
	 2 * 2 =  4
	 2 * 3 =  6
	 2 * 4 =  8
	 2 * 5 =  10
	 2 * 6 =  12
	 2 * 7 =  14
	 2 * 8 =  16
	 2 * 9 =  18
	 2 * 10 =  20
	 2 * 11 =  22
	 2 * 12 =  24
It's table for: 3 number
	 3 * 1 =  3
	 3 * 2 =  6
	 3 * 3 =  9
	 3 * 4 =  12
	 3 * 5 =  15
	 3 * 6 =  18
	 3 * 7 =  21
	 3 * 8 =  24
	 3 * 9 =  27
	 3 * 10 =  30
	 3 * 11 =  33
	 3 * 12 =  36
It's table for: 4 number
	 4 * 1 =  4
	 4 * 2 =  8
	 4 * 3 =  12
	 4 * 4 =  16
	 4 * 5 =  20
	 4 * 6 =  24
	 4 * 7 =  28
	 4 * 8 =  32
	 4 * 9 =  36
	 4 * 10 =  40
	 4 * 11 =  44
	 4 * 12 =  48
It's table for: 5 number
	 5 * 1 =  5
	 5 * 2 =  10
	 5 * 3 =  15
	 5 * 4 =  20
	 5 * 5 =  25
	 5 * 6 =  30
	 5 * 7 =  35
	 5 * 8 =  40
	 5 * 9 =  45
	 5 * 10 =  50
	 5 * 11 =  55
	 5 * 12 =  60
It's table for: 6 number
	 6 * 1 =  6
	 6 * 2 =  12
	 6 * 3 =  18
	 6 * 4 =  24
	 6 * 5 =  30
	 6 * 6 =  36
	 6 * 7 =  42
	 6 * 8 =  48
	 6 * 9 =  54
	 6 * 10 =  60
	 6 * 11 =  66
	 6 * 12 =  72
It's table for: 7 number
	 7 * 1 =  7
	 7 * 2 =  14
	 7 * 3 =  21
	 7 * 4 =  28
	 7 * 5 =  35
	 7 * 6 =  42
	 7 * 7 =  49
	 7 * 8 =  56
	 7 * 9 =  63
	 7 * 10 =  70
	 7 * 11 =  77
	 7 * 12 =  84
It's table for: 8 number
	 8 * 1 =  8
	 8 * 2 =  16
	 8 * 3 =  24
	 8 * 4 =  32
	 8 * 5 =  40
	 8 * 6 =  48
	 8 * 7 =  56
	 8 * 8 =  64
	 8 * 9 =  72
	 8 * 10 =  80
	 8 * 11 =  88
	 8 * 12 =  96
It's table for: 9 number
	 9 * 1 =  9
	 9 * 2 =  18
	 9 * 3 =  27
	 9 * 4 =  36
	 9 * 5 =  45
	 9 * 6 =  54
	 9 * 7 =  63
	 9 * 8 =  72
	 9 * 9 =  81
	 9 * 10 =  90
	 9 * 11 =  99
	 9 * 12 =  108
It's table for: 10 number
	 10 * 1 =  10
	 10 * 2 =  20
	 10 * 3 =  30
	 10 * 4 =  40
	 10 * 5 =  50
	 10 * 6 =  60
	 10 * 7 =  70
	 10 * 8 =  80
	 10 * 9 =  90
	 10 * 10 =  100
	 10 * 11 =  110
	 10 * 12 =  120
It's table for: 11 number
	 11 * 1 =  11
	 11 * 2 =  22
	 11 * 3 =  33
	 11 * 4 =  44
	 11 * 5 =  55
	 11 * 6 =  66
	 11 * 7 =  77
	 11 * 8 =  88
	 11 * 9 =  99
	 11 * 10 =  110
	 11 * 11 =  121
	 11 * 12 =  132
It's table for: 12 number
	 12 * 1 =  12
	 12 * 2 =  24
	 12 * 3 =  36
	 12 * 4 =  48
	 12 * 5 =  60
	 12 * 6 =  72
	 12 * 7 =  84
	 12 * 8 =  96
	 12 * 9 =  108
	 12 * 10 =  120
	 12 * 11 =  132
	 12 * 12 =  144

In [63]:
numbers=[]
while True:
    inp = int(input("enter a number: "))
    if inp == -1:
        break
    numbers.append(inp)
x=0
for n in numbers:
   x +=n 
print("your numbers are: {}".format(numbers))
print(x/len(numbers))

enter a number: 1
enter a number: 2
enter a number: 3
enter a number: -1
your numbers are: [1, 2, 3]
2.0